.about {
    background-color: #12101f;
    height: 85vh;
    width: 100%;
    position: relative;
    border-radius: 30px;
    padding: 20px 10px;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
}
@media (max-width: 1170px){
    .about {
        flex-direction: column;
        height: 100%;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }
    .author-image {
        width: 500px;
        align-self: center;

    }
}
@media (max-width: 991px) {
    .about {
        width: 100%;
        margin-bottom: 30px;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    .author-image {
        width: 400px;
    }
    
}
@media (max-width: 769px) {
    .about {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
    .author-image {
        width: 400px;
    }
    
}
@media (max-width: 600px) {
    .about {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
    .author-image {
        width: 300px;
    }
    .author-info {
        line-height: 25px;
    }
    
}
@media (max-width: 500px) {
    .about {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}
@media (max-width: 400px) {
    .about {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .author-image {
        width: 250px;
    }
    
}